In [2]:
import numpy as np
import pandas as pd
scroes = np.random.randint(50, 100,size=(50,5))
scores_df = pd.DataFrame(scroes,
             columns=['國文', '英文', '數學', '地理', '歷史'],
             index=range(1,51))
scores_df
sum_values = scores_df.sum(axis=1)
mean_values = scores_df.mean(axis=1)
scores_df['總分'] = sum_values
scores_df['平均'] = mean_values

In [7]:
scores_df.sort_values(by='總分',ascending=False).iloc[:5]

    國文  英文  數學  地理  歷史   總分    平均
49  95  81  84  80  98  438  87.6
42  64  90  95  99  86  434  86.8
29  77  91  98  90  69  425  85.0
26  75  65  93  92  96  421  84.2
7   94  94  85  88  60  421  84.2