In [1]:
import numpy as np
import pandas as pd

scores = np.random.randint(40, high=101, size=(50, 5))
scores_df = pd.DataFrame(scores,
    columns=['國文', '英文', '數學', '地理', '歷史'],
    index=range(1,51))
scores_df.index.name = "學號"
scores_df.columns.name="科目"
sum_series = scores_df.sum(axis=1)
mean_series = scores_df.mean(axis=1)
#display(sum_series)
rank_series = sum_series.rank(method='min',ascending=False)
scores_df["總分"] = sum_series
scores_df["平均"] = mean_series
scores_df["名次"] = rank_series
scores_df.sort_values(by='名次')

科目   國文   英文   數學   地理  歷史   總分    平均    名次
學號
2    83   96   93   85  97  454  90.8   1.0
35   93   88   89   82  84  436  87.2   2.0
29   92   89   89   81  83  434  86.8   3.0
46   99   94   67   68  87  415  83.0   4.0
8    83  100   71   79  81  414  82.8   5.0
30   92   84   66   96  65  403  80.6   6.0
11   62   86   96   82  66  392  78.4   7.0
16   91   65   84   97  49  386  77.2   8.0
20   62   74   94   58  98  386  77.2   8.0
26   97   55   72   76  85  385  77.0  10.0
14   91   81   55   53  96  376  75.2  11.0
23   86   80   64   99  46  375  75.0  12.0
47   59   63   76   95  82  375  75.0  12.0
28   61   54   94   89  76  374  74.8  14.0
45   90   89   71   79  44  373  74.6  15.0
50   67   81   48   87  90  373  74.6  15.0
18   61   64   91  100  54  370  74.0  17.0
7    89   63   78   96  41  367  73.4  18.0
15   52   96   72   81  66  367  73.4  18.0
42   64   98   74   57  68  361  72.2  20.0
48   70   50   83   80  76  359  71.8  21.0
1    87   45   62   86  79  359  71.8  21.0
44   93   62   72   90  41  358  71.6  23.0
25   67   51   74   64  98  354  70.8  24.0
33   50   56   91   58  99  354  70.8  24.0
21   65   72   76   88  52  353  70.6  26.0
31   81   41   91   93  46  352  70.4  27.0
34   81   60   97   64  50  352  70.4  27.0
41   44   97   77   89  44  351  70.2  29.0
38   41   51  100   60  98  350  70.0  30.0
6    93   50   63   83  60  349  69.8  31.0
3    83   41   88   89  42  343  68.6  32.0
49   64   95   41   94  49  343  68.6  32.0
9    82   53   75   89  43  342  68.4  34.0
32   89   56   62   68  61  336  67.2  35.0
39   64   65   53   52  98  332  66.4  36.0
10   52   86   87   54  48  327  65.4  37.0
24   68   87   50   66  55  326  65.2  38.0
12   90   92   50   46  45  323  64.6  39.0
40   52   72   73   46  80  323  64.6  39.0
4    42   80   51   91  58  322  64.4  41.0
19  100   54   70   52  43  319  63.8  42.0
36   96   60   52   60  50  318  63.6  43.0
17   92   68   55   48  48  311  62.2  44.0
13   44   68   77   44  77  310  62.0  45.0
37   50   40   78   55  79  302  60.4  46.0
22   50   77   59   53  57  296  59.2  47.0
5    49   85   45   41  59  279  55.8  48.0
27   59   42   60   52  52  265  53.0  49.0
43   53   52   61   41  47  254  50.8  50.0

In [9]:
display(scores_df.iloc[:3])
new_df = scores_df.iloc[:3].copy()
new_df["不及格"] = pd.Series([1,0,2],index=[1,2,3])
new_df

科目  國文  英文  數學  地理  歷史   總分    平均    名次
學號
1   87  45  62  86  79  359  71.8  21.0
2   83  96  93  85  97  454  90.8   1.0
3   83  41  88  89  42  343  68.6  32.0

科目  國文  英文  數學  地理  歷史   總分    平均    名次  不及格
學號
1   87  45  62  86  79  359  71.8  21.0    1
2   83  96  93  85  97  454  90.8   1.0    0
3   83  41  88  89  42  343  68.6  32.0    2

In [14]:
def func3(series:pd.Series) -> int:
    return series[series<=60].count()

less60Count = scores_df[['國文', '英文', '數學', '地理', '歷史']].apply(func3,axis=1)
less60Count

學號
1     1
2     0
3     2
4     3
5     4
6     2
7     1
8     0
9     2
10    3
11    0
12    3
13    2
14    2
15    1
16    1
17    3
18    1
19    3
20    1
21    1
22    4
23    1
24    2
25    1
26    1
27    5
28    1
29    0
30    0
31    2
32    1
33    3
34    2
35    0
36    4
37    3
38    3
39    2
40    2
41    2
42    1
43    4
44    1
45    1
46    0
47    1
48    1
49    2
50    1
dtype: int64

In [16]:
scores_df["不及格"] = less60Count
scores_df

科目   國文   英文   數學   地理  歷史   總分    平均    名次  不及格
學號
1    87   45   62   86  79  359  71.8  21.0    1
2    83   96   93   85  97  454  90.8   1.0    0
3    83   41   88   89  42  343  68.6  32.0    2
4    42   80   51   91  58  322  64.4  41.0    3
5    49   85   45   41  59  279  55.8  48.0    4
6    93   50   63   83  60  349  69.8  31.0    2
7    89   63   78   96  41  367  73.4  18.0    1
8    83  100   71   79  81  414  82.8   5.0    0
9    82   53   75   89  43  342  68.4  34.0    2
10   52   86   87   54  48  327  65.4  37.0    3
11   62   86   96   82  66  392  78.4   7.0    0
12   90   92   50   46  45  323  64.6  39.0    3
13   44   68   77   44  77  310  62.0  45.0    2
14   91   81   55   53  96  376  75.2  11.0    2
15   52   96   72   81  66  367  73.4  18.0    1
16   91   65   84   97  49  386  77.2   8.0    1
17   92   68   55   48  48  311  62.2  44.0    3
18   61   64   91  100  54  370  74.0  17.0    1
19  100   54   70   52  43  319  63.8  42.0    3
20   62   74   94   58  98  386  77.2   8.0    1
21   65   72   76   88  52  353  70.6  26.0    1
22   50   77   59   53  57  296  59.2  47.0    4
23   86   80   64   99  46  375  75.0  12.0    1
24   68   87   50   66  55  326  65.2  38.0    2
25   67   51   74   64  98  354  70.8  24.0    1
26   97   55   72   76  85  385  77.0  10.0    1
27   59   42   60   52  52  265  53.0  49.0    5
28   61   54   94   89  76  374  74.8  14.0    1
29   92   89   89   81  83  434  86.8   3.0    0
30   92   84   66   96  65  403  80.6   6.0    0
31   81   41   91   93  46  352  70.4  27.0    2
32   89   56   62   68  61  336  67.2  35.0    1
33   50   56   91   58  99  354  70.8  24.0    3
34   81   60   97   64  50  352  70.4  27.0    2
35   93   88   89   82  84  436  87.2   2.0    0
36   96   60   52   60  50  318  63.6  43.0    4
37   50   40   78   55  79  302  60.4  46.0    3
38   41   51  100   60  98  350  70.0  30.0    3
39   64   65   53   52  98  332  66.4  36.0    2
40   52   72   73   46  80  323  64.6  39.0    2
41   44   97   77   89  44  351  70.2  29.0    2
42   64   98   74   57  68  361  72.2  20.0    1
43   53   52   61   41  47  254  50.8  50.0    4
44   93   62   72   90  41  358  71.6  23.0    1
45   90   89   71   79  44  373  74.6  15.0    1
46   99   94   67   68  87  415  83.0   4.0    0
47   59   63   76   95  82  375  75.0  12.0    1
48   70   50   83   80  76  359  71.8  21.0    1
49   64   95   41   94  49  343  68.6  32.0    2
50   67   81   48   87  90  373  74.6  15.0    1