In [2]:
import numpy as np
import pandas as pd
scroes = np.random.randint(50, 100,size=(50,5))
scores_df = pd.DataFrame(scroes,
             columns=['國文', '英文', '數學', '地理', '歷史'],
             index=range(1,51))
scores_df
sum_values = scores_df.sum(axis=1)
mean_values = scores_df.mean(axis=1)
scores_df['總分'] = sum_values
scores_df['平均'] = mean_values

In [7]:
scores_df.sort_values(by='總分',ascending=False).iloc[:5]

    國文  英文  數學  地理  歷史   總分    平均
49  95  81  84  80  98  438  87.6
42  64  90  95  99  86  434  86.8
29  77  91  98  90  69  425  85.0
26  75  65  93  92  96  421  84.2
7   94  94  85  88  60  421  84.2

In [14]:
#使用subscript[],過濾資料
scores_df[scores_df['平均'] < 80]

    國文  英文  數學  地理  歷史   總分    平均
1   97  98  82  65  55  397  79.4
3   58  63  50  69  63  303  60.6
8   88  64  56  75  84  367  73.4
9   63  59  89  89  56  356  71.2
10  66  54  90  97  84  391  78.2
12  60  90  89  50  60  349  69.8
13  50  64  78  82  95  369  73.8
14  89  99  50  80  75  393  78.6
16  74  54  90  72  88  378  75.6
17  98  52  53  96  51  350  70.0
18  77  78  70  76  62  363  72.6
19  54  60  76  79  91  360  72.0
21  83  55  57  72  77  344  68.8
22  97  51  51  80  62  341  68.2
23  57  74  80  95  84  390  78.0
25  85  95  66  95  55  396  79.2
27  70  68  53  69  55  315  63.0
30  86  67  94  59  50  356  71.2
31  90  61  62  55  94  362  72.4
32  67  50  76  70  80  343  68.6
33  63  91  85  59  72  370  74.0
34  56  65  86  74  64  345  69.0
35  65  87  69  82  59  362  72.4
36  85  85  55  72  77  374  74.8
37  61  69  95  67  64  356  71.2
38  64  59  65  92  92  372  74.4
40  59  55  98  89  78  379  75.8
41  58  93  56  50  59  316  63.2
43  95  50  57  82  92  376  75.2
44  55  65  52  94  98  364  72.8
45  95  80  81  64  77  397  79.4
46  54  90  93  62  94  393  78.6
47  54  84  92  78  73  381  76.2
48  56  60  56  53  64  289  57.8
50  73  52  54  54  94  327  65.4

In [16]:
#平均80以下,歷史不及格的
scores_df[(scores_df['平均'] < 80) & (scores_df['歷史'] < 60)]

    國文  英文  數學  地理  歷史   總分    平均
1   97  98  82  65  55  397  79.4
9   63  59  89  89  56  356  71.2
17  98  52  53  96  51  350  70.0
25  85  95  66  95  55  396  79.2
27  70  68  53  69  55  315  63.0
30  86  67  94  59  50  356  71.2
35  65  87  69  82  59  362  72.4
41  58  93  56  50  59  316  63.2