In [1]:
import numpy as np
import pandas as pd

scores = np.random.randint(40, high=101, size=(50, 5))
scores_df = pd.DataFrame(scores,
    columns=['國文', '英文', '數學', '地理', '歷史'],
    index=range(1,51))
scores_df.index.name = "學號"
scores_df.columns.name="科目"
sum_series = scores_df.sum(axis=1)
mean_series = scores_df.mean(axis=1)
#display(sum_series)
rank_series = sum_series.rank(method='min',ascending=False)
scores_df["總分"] = sum_series
scores_df["平均"] = mean_series
scores_df["名次"] = rank_series
scores_df.sort_values(by='名次')

科目  國文   英文   數學   地理   歷史   總分    平均    名次
學號
21  99   94   60   84   86  423  84.6   1.0
25  84   95   53   90  100  422  84.4   2.0
13  71   92   83   84   92  422  84.4   2.0
12  96   81   96   98   47  418  83.6   4.0
26  90   86   97   59   85  417  83.4   5.0
41  92  100   70  100   44  406  81.2   6.0
33  94   65   99   42  100  400  80.0   7.0
37  82   55   85   94   83  399  79.8   8.0
16  99   81   81   86   51  398  79.6   9.0
4   80   68   81   86   81  396  79.2  10.0
6   82   67   80   84   81  394  78.8  11.0
42  84   94   74   96   42  390  78.0  12.0
1   75   70   83   82   74  384  76.8  13.0
47  71   90   43   93   84  381  76.2  14.0
39  74   81   77   63   86  381  76.2  14.0
22  85   91   41   88   62  367  73.4  16.0
32  70   63   86   82   63  364  72.8  17.0
29  92   55  100   54   63  364  72.8  17.0
7   94   50   58   93   65  360  72.0  19.0
31  67   94   44  100   54  359  71.8  20.0
46  81   88   57   72   59  357  71.4  21.0
45  50   83   73   68   79  353  70.6  22.0
20  96   81   60   57   58  352  70.4  23.0
24  74   70   69   79   60  352  70.4  23.0
36  61   78   44   81   86  350  70.0  25.0
18  70   70   52   81   76  349  69.8  26.0
49  44   99   42   80   82  347  69.4  27.0
28  66   91   55   83   52  347  69.4  27.0
43  97   52   49   64   85  347  69.4  27.0
8   68   75   58   65   80  346  69.2  30.0
23  41   92   89   59   65  346  69.2  30.0
40  86   65   65   83   45  344  68.8  32.0
5   80   50   66   47  100  343  68.6  33.0
50  91   73   88   45   45  342  68.4  34.0
27  95   93   57   56   40  341  68.2  35.0
38  83   57   88   40   66  334  66.8  36.0
11  51   86   83   61   52  333  66.6  37.0
19  51   45   98   90   49  333  66.6  37.0
15  91   58   85   40   59  333  66.6  37.0
10  45   99   66   76   45  331  66.2  40.0
35  47   74   51   52   98  322  64.4  41.0
3   72   55   50   50   93  320  64.0  42.0
34  80   60   66   58   56  320  64.0  42.0
17  55   79   53   51   78  316  63.2  44.0
14  54   56   67   97   41  315  63.0  45.0
2   45   46   98   72   45  306  61.2  46.0
44  47   52   60   68   79  306  61.2  46.0
48  45   45   60   91   60  301  60.2  48.0
9   43   47   94   43   72  299  59.8  49.0
30  89   80   40   43   45  297  59.4  50.0

In [9]:
def fun1(series:pd.Series) -> int: 
    min = series.min()
    median = series.median()
    max = series.max()  
    s1 = pd.Series([min,median,max],index=["最低分","中間值","最高分"])
    return s1

subject_df = scores_df[['國文', '英文', '數學', '地理', '歷史']]

frame1 = subject_df.apply(fun1)
frame1

科目     國文     英文     數學     地理     歷史
最低分  41.0   45.0   40.0   40.0   40.0
中間值  77.5   74.5   66.5   77.5   65.0
最高分  99.0  100.0  100.0  100.0  100.0